<form [formGroup]="form">
  <nz-row [nzGutter]="24">
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired> code </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="code" formControlName="code" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired> Libelle </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="libelle" formControlName="libelle" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired> Description </nz-form-label>
        <nz-form-control>
          <textarea rows="4" nz-input formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSpan]="24"> Modifier par </nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="modifierPar"
            formControlName="modifierPar"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>

<div class="border-t border-gray-100 flex items-center justify-between">
  <button nz-button (click)="onClose()">Annuler</button>
  <button
    nz-button
    nzType="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Confirmer
  </button>
</div>
