<div class="p-4">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl">Liste des auteurs</h1>

    <button nz-button class="bg-gray-900" (click)="goCreate()">Ajouter</button>
  </div>

  <div>
    <ng-container *ngIf="ITEMS.length >= 1">
      <div class="grid grid-cols-4 gap-4">
        <div
          *ngFor="let data of ITEMS"
          class="bg-white shadow-lg rounded-lg overflow-hidden my-4"
        >
          <div class="flex items-center px-6 py-3 bg-gray-900">
            <h1 class="mx-3 text-white font-semibold text-lg">
              Information auteur
            </h1>
          </div>
          <div class="py-4 px-6">
            <h1 class="text-2xl font-semibold text-gray-800">
              code: {{ data.code }}
            </h1>
            <p class="py-2 text-lg text-gray-700">
              Description: {{ data.description }}
            </p>
            <div class="flex items-center mt-4 text-gray-700">
              <h1 class="px-2 text-sm">Libelle : {{ data.libelle }}</h1>
            </div>

            <div>
              <button
                (click)="onDelete()"
                class="bg-red-900 p-2 rounded-md shadow-sm text-white"
              >
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div></ng-container
    >
    <ng-container *ngIf="ITEMS.length < 1">
      <p class="text-center text-xl mt-10">Aucun auteur enregistrer</p>
    </ng-container>
  </div>
</div>
